@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75..100,300..800&display=swap");


body{
  background-color: black;
  font-family: "Raleway", sans-serif;
}

nav {
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
}


section{
    margin-left: 50px;
    margin-right: 50px;
}


button{
    margin-bottom: 30px;
  }
footer {
    background-color: #0dcaf0;
    padding-right: 50px;
}


span{
  padding-left: 200px;
}



